{% extends "index.html" %}
{% load static %}

{% block body %}
<div class="main_message">
	<table>
		<tr>
			<th>Episode nb</th>
			<th>Title</th>
			<th>Opening crawl</th>
			<th>Director</th>
			<th>Producer</th>
			<th>Release date</th>
		</tr>
		{% for name in movies %}
		<tr>
			<td>{{ name.episode_nb }}</td>
			<td>{{ name.title }}</td>
			<td>{{ name.opening_crawl }}</td>
			<td>{{ name.director }}</td>
			<td>{{ name.producer }}</td>
			<td>{{ name.release_date }}</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}
