{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>ex02</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>
	<body>
		{% block body %} {% endblock %}
	</body>
</html>
