{% extends "base.html" %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/style1.css' %}" type='text/css' />
{% endblock %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}

<h1>{{ section.title }}</h1>

{% endblock %}

{% block content2 %}
<p> Voici l’affichage d’une page web statique à partir d’un simple template en passant par une vue, de larequête à la réponse</p>
<center><img src="{% static 'images/image.png' %}" alt="yolo"></center>
{% endblock %}
