<!DOCTYPE html>
<html lang="en">
	<head>
		{% block style %}{% endblock %}
		<center><title>{% block title %}Template{% endblock %}</title></center>
	</head>

	<body>
		{% include "nav.html" %}

		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<p>
			{% block content2 %}{% endblock %}
		</p>
	</body>
</html>
