{% extends "base.html" %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/style2.css' %}" type='text/css' />
{% endblock %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<h1>{{ section.title }}</h1>

{% for story in story_list %}
<h2>
	<center>
		{{ story.headline|upper }}
	</center>
</h2>
<p>
	<center>
		{{ story.text }}
	</center>
</p>
{% endfor %}
{% endblock %}
