{% load static %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
	<head>
		<title>app</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>
<script>
$(document).ready(function () {
	$("form").click(function(event){
		event.preventDefault();
	});
	$('#logout').click(function () {
		$.ajax({
			type: 'POST',
			url: '/admin/logout/',
			dataType: 'json',
			data: {},
			success: function (data) {
				console.log("logout:", data)
				$('#login_form').show()
				$('#loged').hide()
			}
		})
	})
	$('#login').click(function () {
		$.ajax({
			type: 'POST',
			url: '/ajax/check_login',
			dataType: 'json',
			data: {
				"username": $('#id_username').val(),
				"password": $('#id_password').val()
			},
			success: function (data) {
				if (data.login) {
					$('#login_form').hide()
					$('#loged').removeAttr('style');
					$('#user_login').text(data.username)
				} else {
					$('#message').text("Invalid password")
				}
			}
		})
	})
// using jQuery
function getCookie(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie !== '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
			var cookie = jQuery.trim(cookies[i]);
			// Does this cookie string begin with the name we want?
			if (cookie.substring(0, name.length + 1) === (name + '=')) {
				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				break;
			}
		}
	}
	return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
	// these HTTP methods do not require CSRF protection
	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
	beforeSend: function(xhr, settings) {
		if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
			xhr.setRequestHeader("X-CSRFToken", csrftoken);
		}
	}
});
})
</script>
