{% extends "app/index.html" %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{# Load the tag library #}

{% block content %}
<div class="main_message" id="main">
	<div id="loged" style="display:none;">
		<div>
			Logged as: <p id="user_login"></p>
		</div>
		<button id="logout" class="btn btn-primary">
			{% bootstrap_icon "star" %} Logout
		</button>
	</div>
	<div id="login_form">
		<p id="message"></p>
		<form action="/" method="post" class="form" enctype="multipart/form-data">
			{% csrf_token %}

			{{ form }}

			<button id="login" class="btn btn-primary">
				{% bootstrap_icon "star" %} Login
			</button>
		</form>
	</div>
</div>
{% endblock %}
