{% extends "ex01/index.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% block content %}
<div class="main_message">
	<h2>Detail of article</h2>
	{% if object %}
	<table class="table table-compact table-bordered">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Author</th>
				<th scope="col">Sinopsis</th>
				<th scope="col">Creatied</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ object.title }}</td>
				<td>{{ object.author }}</td>
				<td>{{ object.sinopsis }}</td>
				<td>{{ object.created }}</td>
			</tr>
		</tbody>
	</table>
	{% else %}
		<p>there is no detail to show</p>
	{% endif %}
</div>

{% endblock %}
