{% extends "ex01/index.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% block content %}
<div class="main_message">
	<h2>Favourites list</h2>
	{% if favourites_list %}
	<table class="table table-compact table-bordered">
		<thead class="thead-dark">
			<tr>
				<th scope="col">User</th>
				<th scope="col">Article</th>
			</tr>
		</thead>
		<tbody>
			{% for article in favourites_list %}
			<tr>
				<td>{{ article.user }}</td>
				<td><a href="{% url 'detail' pk=article.article_id %}">{{ article.article }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>There are no favourite articles yet.</p>
	{% endif %}  
</div>

{% endblock %}
