{% load static %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
	<head>
		<title>ex01</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>
	<body>
		<div class="navbar-wrapper" style="height: 100px">
			<div class="container">
				<nav class = "navbar navbar-inverse navbar-fixed-top" id="navbar_whole">

					<div class = "navbar-header">
						<button type= "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target= "#navbar" aria-expanded="false" aria-controls = "navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li>
								<a href="{% url 'login' %}">Login</a>
							</li>
							<li>
								<a href="{% url 'home' %}">Home</a>
							</li>
							<li>
								<a href="{% url 'articles' %}">Articles</a>
							</li>
							<li>
								<a href="{% url 'favourites' %}">Favourites</a>
							</li>
							<li>
								<a href="{% url 'publications' %}">Publications</a>
							</li>
							<li>
								<a href="{% url 'logout' %}">Logout</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>
