{% extends "ex01/index.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% block content %}
<div class="main_message">
	<form action="/login" method="post" class="form">
		{% csrf_token %}

		{{ form }}

		{% buttons %}
		<button type="submit" class="btn btn-primary">
			{% bootstrap_icon "star" %} Submit
		</button>
		{% endbuttons %}
	</form>
</div>

{% endblock %}
