{% extends "ex01/index.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% block content %}
<div class="main_message">
	<p>You are now log out</p>
</div>

{% endblock %}
