{% extends "ex01/index.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% block content %}
<div class="main_message">
	<h2>Publication list</h2>
	{% if publications_list %}
	<table class="table table-compact table-bordered">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Sinopsis</th>
				<th scope="col">Created</th>
			</tr>
		</thead>
		<tbody>
			{% for publication in publications_list %}
			{% if request.user == publication.author %}
			<tr>
				<td><a href="{% url 'detail' pk=publication.id %}">{{ publication.title }}</a></td>
				<td>{{ publication.sinopsis }}</td>
				<td>{{ publication.created }}</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>There are no publication yet.</p>
	{% endif %}  
</div>

{% endblock %}
