{% extends "index.html" %}
{% load static %}

{% block body %}
<div class="main_message">
	<table>
		<tr>
		{% for name in struct %}
			<td>{{ name.0 }}</td>
		{% endfor %}
		</tr>
		{% for line in data %}
		<tr>
			{% for column in line %}
				<td>{{ column }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}
