{% extends "ex00/index.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% block content %}
<div class="main_message">
	<h2>Articles list</h2>
	{% if articles_list %}
	<table class="table table-compact table-bordered">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Author</th>
				<th scope="col">Sinopsis</th>
				<th scope="col">Creatied</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles_list %}
			<tr>
				<td>{{ article.title }}</td>
				<td>{{ article.author }}</td>
				<td>{{ article.sinopsis }}</td>
				<td>{{ article.created }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>There are no articles yet.</p>
	{% endif %}  
</div>

{% endblock %}
