{% load static %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
	<head>
		<title>ex00</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>
