{% extends "ex00/index.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% block content %}
<div class="main_message">
	{% if images %}
	<table  class="table table-compact table-bordered">
		{% for images in images %}
		<tr>
			<td>{{ images.title }}</td>
			<td><img src="/media/{{ images.image }}" /></td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>No documents.</p>
	{% endif %}
	{% if message == "success" %}
	<p>Image upload !</p>
	{% elif message != "" %}
	<p>Error: {{ message }}</p>
	{% endif %}
	<form action="/" method="post" class="form" enctype="multipart/form-data">
		{% csrf_token %}

		{{ form }}

		<button type="submit" class="btn btn-primary">
			{% bootstrap_icon "star" %} Submit
		</button>
	</form>
</div>
{% endblock %}
