{% extends "index.html" %}
{% load static %}

{% block body %}
<div class="main_message">
	<form action="/ex02/" method="post">
		 {% csrf_token %}
		{{ form }}
		<input type="submit" value="Submit">
	</form>
	<table>
	{% for line in logs %}
	<tr>
		<td>{{ line }}</td>
	</tr>
	{% endfor %}
	</table>
</div>

{% endblock %}
